{% extends "base.html" %}

{% block content %}
<h1>NoSQLCleaner</h1>
<p>NoSQLCleaner is a tool that allows a user to inspect and clean/correct data that is to be
    inserted in a MongoDB or Neo4j database. The primary goal of this tool is to provide an interface with which
    someone can inspect the values and fields of a document to be inserted in a database and correct any incorrect
    data as necessary.</p>
<p class="lead">Choose a database model</p>
<div class="d-grid gap-2 mx-auto">
    <a href="{{ url_for('mongodb') }}"><button class="btn btn-primary" type="button">MongoDB</button></a>
    <a href="{{ url_for('neo4j') }}"><button class="btn btn-primary" type="button">Neo4j</button></a>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Alvin Yang</span>
    </div>
</footer>
{% endblock %}