{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1>Neo4j Cleaner</h1>

    <div class="text-left">
        <p><strong>Querying</strong></p>
        <ul>
            <li>Select a dataset from below, write your query in the query box, and then press the &quot;Search&quot;
                button. The results from executing the query will be displayed in the editor box below.</li>
            <li>A
                query can be performed to list out nodes of a certain label. For example, the query <span
                    style='color: rgb(184, 49, 47); font-family: "Courier New", courier; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 239, 239); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>Product</span>
                will list out every node with the label &quot;Product&quot; along with their properties in
                the editor box below as individual JSON objects.</li>
            <li>The
                same can also be done to list out relationships with a certain label connected to nodes of certain
                labels. For example, <span
                    style='color: rgb(184, 49, 47); font-family: "Courier New", courier; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 239, 239); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>Employee-SOLD-*</span>
                will list out the properties of every &quot;SOLD&quot;
                relationship that is connected to an &quot;Employee&quot; node and an arbitrary node (represented by
                the wildcard symbol <span
                    style='color: rgb(184, 49, 47); font-family: "Courier New", courier; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 239, 239); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>*</span>).
            </li>
            <li>The query can support conditional statement with a range of operators (<span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">&lt;</span>, <span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">&gt;</span>, <span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">&lt;=</span>, <span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">&gt;=</span>, <span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">==</span>, <span
                    style="color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);">!=,</span> <span
                    style='color: rgb(184, 49, 47); background-color: rgb(239, 239, 239); font-family: "Courier New", courier;'>contains</span>,
                <span
                    style='color: rgb(184, 49, 47); font-family: "Courier New", courier; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 239, 239); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>is
                    NULL</span>) to filter nodes/relationships. For example, <span
                    style='color: rgb(184, 49, 47); background-color: rgb(239, 239, 239); font-family: "Courier New", courier;'>Customer
                    : customerID == &quot;ALFKI&quot; &amp;&amp; companyName contains &quot;Alfred&quot;</span> will
                return nodes with the label of &quot;Customer&quot; where their &quot;customerID&quot; property have
                values equal the string &quot;ALFKI&quot; and their &quot;companyName&quot; property contains the string
                &quot;Afred&quot;.
            </li>
            <li>Note that a string value must be surrounded with double quotation marks.</li>
            <li>Note that parentheses in the conditional statement are currently not supported by the parser. This means
                that the expression is always evaluated from left-to-right. For example, <span
                    style='font-family: "Courier New", courier; color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);'>a
                    &amp;&amp; b || c &amp;&amp; d</span> is equivalent to <span
                    style='font-family: "Courier New", courier; color: rgb(184, 49, 47); background-color: rgb(239, 239, 239);'>((a
                    &amp;&amp; b) || c) &amp;&amp; d</span>.</li>
        </ul>
        <p><strong>Editor</strong></p>
        <ul>
            <li>The results returned by the query will be displayed in the editor box below. The properties of each
                node/relationship are listed within the JSON object representing that node/relationship.</li>
            <li>The editor box allows the user to clean or correct any nodes/relationships returned by the query.
                Properties can be inserted, updated, or deleted through the editor.&nbsp;</li>
            <li><strong>Please do not insert or delete nodes/relationships through the editor box</strong>. This tool is
                meant only for editing the properties of existing nodes/relationships in the database.</li>
            <li>Once the user is satisfied with the changes, press the &quot;Save&quot; button below the editor box.
                This will update the properties of nodes/relationships with the new version.</li>
        </ul>
    </div>

    <p><strong><span style="color: rgb(255, 0, 0);">Important: The database is currently hosted in the free Neo4j
                Sandbox. Access to the database will expire on May 9th 2021. <br> Please contact <a
                    href="mailto:alviny2@illinois.edu">alviny2@illinois.edu</a>&nbsp;when that happens.</span></strong>
    </p>

    <h2>Choose a dataset</h2>

    <p>
        {% for subfield in form.collection %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            <br>
        </tr>
        {% endfor %}
    </p>
    {% for error in form.collection.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <br>
    <h2>Enter your query</h2>

    <p>{{ form.query(size=32, class='form-control') }}</p>
    {% for error in form.query.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <p>{{ form.search(class='btn btn-primary') }}</p>

    <br>
    <h2>Editor</h2>

    <p>{{ form.editor(class='form-control', rows='20') }}</p>
    {% for error in form.editor.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {% if form.save.disable %}
    <p>{{ form.save(class='btn btn-primary', disabled='true') }}</p>
    {% else %}
    <p>{{ form.save(class='btn btn-primary') }}</p>
    {% endif %}
</form>
{% endblock %}